<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MultiBlog</title>
  <link type="text/css" rel="stylesheet" href="/static/framework.css">
  <link type="text/css" rel="stylesheet" href="/static/normalize.css">
  <link type="text/css" rel="stylesheet" href="/static/main.css">
</head>

<body>
  <!-- Header -->
  <header class="header row">
      <div class="col-2"></div>
      <div class="col-8">
        <!-- Title -->
        <h1 class="main-title"><a href="/">MultiBlog</a></h1>
        <!-- Navigation -->
        <nav>
          <ul class="nav-bar">
            {% if user == False: %}
            <li class="nav-item"><a href="/signup">Sign Up</a></li>
            <li class="nav-item"><a href="/login">Log In</a></li>
            {% endif %}
            {% if user == True %}
            <li class="nav-item"><a href="/logout">Log Out</a></li>
            <li class="nav-item"><a href="/newpost">Write Something!</a></li>
            {% endif %}
          </ul>
        </nav>
        <hr class="header-hr">
      </div>
      <div class="col-2"></div>
  </header>

  <!-- Main Content -->
  <div class="content row">
    <!-- Left Side -->
    <div class="col-2"></div>
    <!--Centre -->
    <div class="col-8">
    {% block content %}
    {% endblock %}
    </div>
    <!-- Right Side -->
    <div class="col-2"></div>
  </div>
</body>
</html>
