{% extends "base.html" %}

{% block content %}

<div class="post-box">
    <div class="headline">
        <h3 class="post-title">{{ article.title }}</h3>
    </div>
    <div class="body">
      <p class="post-body">{{ article.post }}</p>
    </div>
    <div class="created-by">
        <p class="authour">{{article.user.name}}</p>
        <p class="date">{{article.created.strftime("%b %d, %Y")}}</p>
        <form class="like-count" action="/{{ article.key().id()}}/like" method="post">
          <button class="like-count" type="submit" method="post">Like this!</button>
        </form>
        <p class="like-count">{{article.likes}} Likes</p>
    </div>
</div>
<div class="comment-row row">
<form method="post">
    <label>
      <textarea class="comment-form" name="comment" cols="80" rows="5" placeholder="Add your thoughts....."></textarea>
    </label>
    <br>
    <input type="submit">
</form>
</div>

{% for comment in article.post_comments%}
<div class="comment-box">
    <div class="comment">
        <p class="authour-comment">{{comment.user.name}}</p>
        <p class="date-comment">{{comment.created.strftime("%b %d, %Y")}}</p>
        <br>
        <p class="body">{{comment.comment}}</p>
    </div>
</div>
{% endfor %}
{% endblock %}
