/* --- Main Styles and Typography --- */

/* .palette {
  #f7f4f4 <!-- background colour -->
  #f3f1f1 <!-- outline colour -->
  #333
  white
  grey
  #CA8BDB
  #d4cdd2
} */

body {
  position: relative;
  font-family: 'Pontano Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  margin: 0 auto;
  color: #333;
  background-color: #f7f4f4;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.page-title {
  font-size: 20px;
  font-weight: bold;
}

/* --- Header --- */

.header {
  margin-bottom: 50px;
  background-color: white;
  height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav {
  display: inline-block;
  float: right;
}

.main-title {
  display: inline-block;
  color: #222;
  width: 50%;
  font-size: 25px;
  padding-top: 10px;
  margin-bottom: 15px;
  text-decoration: none;
  font-weight: bold;
}

.main-title.a:visited {
  color: grey;
}

.nav-item {
  float: right;
  color: #ca8bdb;
  font-size: 14px;
  margin: 5px;
  padding: 5px;
  padding-top: 10px;
}

.header-hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* --- Base Layout --- */

/* --- Index Page --- */

.post-box {
  background-color: white;
  margin: 15px;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.headline {
  position: relative;
}

.body {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fa-heart-o {
  color: red;
}

.error {
  color: red;
}

.created-by {
  font-size: 14px;
  margin-bottom: 20px;
}

/* --- Post Index --- */

.post-title {
  font-size: 25px;
  text-decoration: none;
  font-family: 'Francois One', Arial, sans-serif;
}

.authour {
  color: #ca8bdb;
  margin-left: 10px;
  float: left;
}

.date {
  color: #d4cdd2;
  margin-left: 10px;
  float: left;
}

.comment-count {
  float: right;
}

.like-count {
  float: right;
  margin-right: 10px;
}

/* --- Post Page --- */

.comment-row {
  width: 500px;
  margin: 0 auto;
}

.comment-form {
  border-radius: 2px;
  border-color: white;
  resize: none;
}

.comment-box {
  background-color: white;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 10px;
}

.comments {
  margin-left: 30px;
}

.authour-comment {
  color: #ca8bdb;
  margin-left: 10px;
  float: left;
}

.date-comment {
  color: #d4cdd2;
  margin-left: 10px;
  float: left;
}

/* --- New Post --- */

.new-post {
  margin-bottom: 20px;
}

.page-title {
  margin-bottom: 10px;
  text-align: center;
}

#post-title {
  border: 1px solid rgba(0, 0, 0, 0.1);
  font: 14px Arial;
  width: 100%;
  height: 24px;
}

#post-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  font: 14px Arial;
  width: 100%;
}

#new-post-submit {
  background-color: #ca8bdb;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 8px;
}

#new-post-submit:hover {
  background-color: #B160C7;
}
