/* --- Main Styles and Typography --- */

/* .palette {
  #e9e7e9
  #333
  white
  grey
  #f384d9
  #d4cdd2
} */

body {
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0 auto;
  color: #333;
  background-color: #e9e7e9;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.page-title {
  font-size: 20px;
  font-weight: bold;
}

/* --- Header --- */

.header {
  margin-bottom: 50px;
  background-color: white;
  height: 100px;
}

nav {
  display: inline-block;
  float: right;
}

.main-title {
  display: inline-block;
  color: #222;
  width: 50%;
  font-size: 25px;
  padding-top: 10px;
  margin-bottom: 15px;
  text-decoration: none;
}

.main-title.a:visited {
  color: grey;
}

.nav-item {
  float: right;
  color: #f384d9;
  margin: 5px;
  padding: 5px;
  padding-top: 10px;
}

.header-hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* --- Base Layout --- */

/* --- Index Page --- */

.post-box {
  background-color: white;
  margin: 15px;
  padding: 20px;
  border-radius: 3px;
}

.headline {
  position: relative;
}

.body {
  margin-top: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.created-by {
  margin-bottom: 20px;
}

/* --- Post Index --- */

.post-title {
  font-size: 25px;
  text-decoration: none;
}

.authour {
  color: #f384d9;
  margin-left: 10px;
  float: left;
}

.date {
  color: #d4cdd2;
  margin-left: 10px;
  float: left;
}

.comment-count {
  float: right;
}

.like-count {
  float: right;
  margin-right: 10px;
}

/* --- Post Page --- */

.comment-row {
  width: 500px;
  margin: 0 auto;
}

.comment-form {
  border-radius: 2px;
  border-color: white;
  resize: none;
}

.comment-box {
  background-color: white;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 10px;
}

.comments {
  margin-left: 30px;
}

.authour-comment {
  color: #f384d9;
  margin-left: 10px;
  float: left;
}

.date-comment {
  color: #d4cdd2;
  margin-left: 10px;
  float: left;
}
