

body {
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  width: 800px;
  margin: 0 auto;
  padding: 10px;
  color: #333;
  background-color: #e9e7e9;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.page-title {
  font-size: 20px;
  font-weight: bold;
}

/* --- Header --- */

.header {
  border-bottom: 1px solid grey;
  margin-bottom: 50px;
  background-color: white;
}

.main-title {
  display: block;
  color: #222;
  font-size: 25px;
  padding-top: 10px;
  margin-bottom: 30px;
  text-decoration: none;
}

.main-title.a:visited {
  color: grey;
}

.nav-bar {
  display: inline-block;
  float: right;
}

.nav-item {
  float: right;
  border-radius: 5px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

/* --- Base Layout --- */

/* --- Index Page --- */

.post-box {
  background-color: white;
  margin: 15px;
  padding: 20px;
  border-radius: 3px;
}

.headline {
  position: relative;
  border-bottom: 3px solid #666;
}

.body {
  margin-top: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.created-by {
  margin-bottom: 20px;
}

/* --- Post Index --- */

.post-title {
  font-size: 25px;
  text-decoration: none;
}

.authour {
  color: #f384d9;
  margin-left: 10px;
}

.date {
  color: #d4cdd2;
  margin-left: 10px;
}

/* --- Post Page --- */

.comment-row {
  width: 500px;
  margin: 0 auto;
}

.comment-form {
  border-radius: 2px;
  border-color: white;
  resize: none;
}

.comment-box {
  background-color: white;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 10px;
}

.comments {
  margin-left: 30px;
}
